# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# misc
aws console.txt

#env var
.env
ecosystem.config.js

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#settings
nginx.txt
nginx_myapp.txt
nginx-local.txt

# SSL
localhost.pem
localhost-key.pem